*.pkl
*.npy
*.pdf
*.png
*.jpg
*.eps
*.mat
*.csv
*.pth
*.xlsx
*.gif
*.fig
*.docx
documents/imgs/*
!documents/imgs/*system_*.png
!documents/imgs/*dnn_model.png
documents/literature/
saved_models/

!saved_models/hyb_configs/
!saved_models/hyb_configs/**

!saved_models/N_RF/
!saved_models/N_RF/**

!saved_models/multipath/
!saved_models/multipath/**

!saved_models/maximum_likelihood/
!saved_models/maximum_likelihood/**

dataset