*.npy
*.pkl
*.pdf
*.png
*.jpg
*.eps
*.mat
*.csv
*.pth
*.xlsx
*.gif
*.fig
*.docx
*.pptx

documents/imgs/*
!documents/imgs/*system_*.png
!documents/imgs/*dnn_model.png
documents/literature/
documents/*.pptx

saved_models/*
!saved_models/hyb_configs
# !saved_models/hyb_configs/*/*.csv
# !saved_models/N_RF/
# !saved_models/multipath/
# !saved_models/maximum_likelihood/
dataset